<template>
  <div>{{footerMsg}}</div>
</template>

<script>
export default {
  name: "Footer",
  props: {
    footerMsg: String
  }
};
</script>

<style lang="scss" scoped>
div {
  font-size: 20px;
}
</style>