<template>
  <div class="header">
    <div class="head">
      <h1>{{ appName }}</h1>

      <input v-if="main" class="logout" type="button" @click="logout" value="Log Out" />
    </div>
  </div>
</template>

<script>
export default {
  name: "HelloWorld",
  props: {
    appName: String
  },
  computed: {
    main() {
      return this.$route.path === "/messenger";
    }
  },
  methods: {
    logout() {
      localStorage.removeItem("userToken");
      localStorage.removeItem("userId");

      this.flashMessage.show({
        status: "success",
        title: "Signing Out.",
        message: "See you later alligator.",
        position: "fixed"
      });
      this.$router.push("/");
    }
  }
};
</script>

<style lang="scss" scoped>
@import "./src/style.scss";

.header {
  position: fixed;
  height: 54px;
  top: 0px;
  background-color: white;
  z-index: 10;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}
.head {
  position: relative;
  width: 100%;
  max-width: $pageMaxWidth;
  margin: 0 auto;
}
h1 {
  text-align: center;
  margin: 14px auto 20px auto;
  padding-bottom: 18px;
  border-bottom: 1px solid black;
  font-family: Arial, Helvetica;
  font-weight: bold;
  color: black;
  font-size: 18px;
}
.logout {
  font-family: Arial, Helvetica;
  font-weight: bold;
  position: absolute;
  font-size: 12px;
  text-decoration: none;
  background-color: $btnColor;
  color: white;
  padding: 0px 8px;
  height: 30px;
  line-height: 30px;
  top: -4px;
  right: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
</style>