<template>
  <div class="loginForm">
    <form @submit="login" action method="post">
      <div v-if="errors.length">
        <b>Please correct the following error(s):</b>
        <ul>
          <li v-for="item in errors" :key="item">{{ item }}</li>
        </ul>
      </div>
      <input v-model="username" type="text" name="username" id="username" placeholder="Username" />
      <input
        v-model="password"
        type="password"
        name="password"
        id="password"
        placeholder="Password"
      />
      <input type="submit" value="Sign Up / Log In" />
    </form>
  </div>
</template>

<script>
import axios from "axios";
import { setTimeout } from "timers";
export default {
  data() {
    return {
      errors: "",
      username: null,
      password: null
    };
  },
  methods: {
    async login(e) {
      e.preventDefault();
      try {
        const response = await axios.post(
          "https://fathomless-spire-72356.herokuapp.com/api/auth/login",
          {
            username: this.username,
            password: this.password
          }
        );

        if (response.data.token) {
          localStorage.setItem("userToken", response.data.token);
          localStorage.setItem("userId", response.data.userId);

          this.flashMessage.show({
            status: "success",
            title: "Login Success.",
            message: response.data.message,
            position: "fixed"
          });
          setTimeout(() => {
            this.$router.push("/messenger");
          }, 500);
        }

        // alert(response.data.token);
        // this.messages2 = response.data;
      } catch (err) {
        // this.errors = err.response.data.error;
        this.flashMessage.show({
          status: "error",
          title: "Login error.",
          message: err.response.data.error,
          position: "fixed"
        });
      }
    },
    goToMessenger(e) {
      this.errors = [];

      if (!this.username) {
        this.errors.push("Username Required.");
      }
      if (!this.password) {
        this.errors.push("Password Required.");
      }

      if (this.errors === undefined || this.errors.length == 0) {
        this.flashMessage.show({
          status: "success",
          title: "Login Success.",
          message: "Please wait while I log you in.",
          position: "fixed"
        });
        setTimeout(() => {
          this.$router.push("/messenger");
        }, 2000);
      } else {
        this.flashMessage.show({
          status: "error",
          title: "Login error.",
          message: "Please input your login details properly.",
          position: "fixed"
        });
      }
      e.preventDefault();
    }
  }
};
</script>

<style lang="scss" scoped>
@import "./src/style.scss";

.loginForm {
  margin-top: 15px;
}

input {
  width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="text"],
input[type="password"] {
  background-color: $inputBgColor;
  height: 35px;
  font-size: 16px;
  margin-bottom: 20px;
  border: #cdd6dd;
  padding-left: 10px;
}

input[type="submit"] {
  font-size: 20px;
  background-color: $btnColor2;
  height: 35px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
  border: #cdd6dd;
  color: white;
  cursor: pointer;
}
</style>