<template>
  <div>
    <transition-group tag="div" name="list">
      <div v-for="item in messages" :key="item.id">
        <MessageItem
          :msg="item.message"
          :user="item.name"
          :datetime="item.createdAt"
          :id="item.id"
          :senderId="item.senderId"
        />
      </div>
    </transition-group>
    <div id="bottom"></div>
  </div>
</template>

<script>
import MessageItem from "./message/MessageItem.vue";
export default {
  components: {
    MessageItem
  },
  props: {
    messages: Array
  },

  mounted() {
    this.$emit("fetchMessages");
    setTimeout(() => {
      window.scrollTo(0, document.body.scrollHeight);
      document.getElementById("message").focus();
    }, 1500);
  }
};
</script>

<style lang="scss" scoped>
.list-enter-active,
.list-leave-active,
.list-move {
  transition: 500ms cubic-bezier(0.59, 0.12, 0.34, 0.95);
  transition-property: opacity, transform;
}

.list-enter {
  opacity: 0;
  transform: translateX(50px) scaleY(0.5);
}

.list-enter-to {
  opacity: 1;
  transform: translateX(0) scaleY(1);
}

.list-leave-active {
  position: absolute;
}

.list-leave-to {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: center top;
}
</style>