<template>
  <div id="app">
    <router-view name="header-top" :appName="appName"></router-view>
    <router-view name="send-message" @messageAdded="newMsg"></router-view>
    <div class="container">
      <div class="wrapper">
        <div class="main">
          <transition
            name="fade"
            mode="out-in"
            @beforeLeave="beforeLeave"
            @enter="enter"
            @afterEnter="afterEnter"
          >
            <router-view :messages="messages" @fetchMessages="getNewMessages"></router-view>
          </transition>
        </div>
        <div class="footer">
          <transition
            name="fade"
            mode="out-in"
            @beforeLeave="beforeLeave"
            @enter="enter"
            @afterEnter="afterEnter"
          >
            <router-view name="footer-bot" :footerMsg="footerMsg"></router-view>
          </transition>
        </div>
        <div class="links"></div>
      </div>
    </div>

    <FlashMessage></FlashMessage>
  </div>
</template>

<script>
import axios from "axios";
// import HelloWorld from "./components/HelloWorld.vue";
// import Footer from "./components/layout/Footer.vue";

export default {
  name: "app",
  data() {
    return {
      appName: "Chat App",
      footerMsg:
        "By signing up, you agree to the Terms of Service and Privacy Policy, including Cookie Use. Others will be able to find you by searching for your email address or phone number when provided.",
      messages2: [
        {
          id: 1,
          user: "Andrew",
          msg: "Hey Ace, are you done with the Exam?",
          datetime: "2019-08-01 10:10:10"
        },
        {
          id: 2,
          user: "Ace",
          msg: "I'm just finishing up. It will be done in a couple of hours",
          datetime: "2019-08-01 10:10:10"
        },
        {
          id: 3,
          user: "Ella",
          msg: "Good luck Ace. You can do it!",
          datetime: "2019-08-01 10:10:10"
        },
        {
          id: 4,
          user: "Ace",
          msg:
            "Thanks Ella. Hoping that I will be accepted in your awesome company. :-)",
          datetime: "2019-08-01 10:10:10"
        },
        {
          id: 5,
          user: "Ace",
          msg:
            "Hey Andrew, I just pushed my last commit ending the exam. Can you please check my work. Thanks.",
          datetime: "2019-08-01 10:10:10"
        },
        {
          id: 6,
          user: "Andrew",
          msg: "So I saw your exam and I would like to say that... ",
          datetime: "2019-08-01 10:10:10"
        },
        {
          id: 7,
          user: "Andrew",
          msg:
            "You did great Ace! We would like to welcome you here at LIG Philippines! Congratulations",
          datetime: "2019-08-01 10:10:10"
        },
        {
          id: 7,
          user: "Ace",
          msg: "Thank You!",
          datetime: "2019-08-01 10:10:10"
        },
        {
          id: 1,
          user: "Andrew",
          msg: "Hey Ace, are you done with the Exam?",
          datetime: "2019-08-01 10:10:10"
        },
        {
          id: 2,
          user: "Ace",
          msg: "I'm just finishing up. It will be done in a couple of hours",
          datetime: "2019-08-01 10:10:10"
        },
        {
          id: 3,
          user: "Ella",
          msg: "Good luck Ace. You can do it!",
          datetime: "2019-08-01 10:10:10"
        },
        {
          id: 4,
          user: "Ace",
          msg:
            "Thanks Ella. Hoping that I will be accepted in your awesome company. :-)",
          datetime: "2019-08-01 10:10:10"
        },
        {
          id: 5,
          user: "Ace",
          msg:
            "Hey Andrew, I just pushed my last commit ending the exam. Can you please check my work. Thanks.",
          datetime: "2019-08-01 10:10:10"
        },
        {
          id: 6,
          user: "Andrew",
          msg: "So I saw your exam and I would like to say that... ",
          datetime: "2019-08-01 10:10:10"
        },
        {
          id: 7,
          user: "Andrew",
          msg:
            "You did great Ace! We would like to welcome you here at LIG Philippines! Congratulations",
          datetime: "2019-08-01 10:10:10"
        },
        {
          id: 7,
          user: "Ace",
          msg: "Thank You!",
          datetime: "2019-08-01 10:10:10"
        }
      ],
      messages: [],
      errors: []
    };
  },

  components: {
    // HelloWorld,
    // Footer
  },

  methods: {
    async getNewMessages() {
      let userToken = localStorage.getItem("userToken");

      let config = {
        headers: {
          Authorization: "Bearer " + userToken,
          "Content-Type": "application/json"
        }
      };

      const postData = { key: "value" };

      try {
        const response = await axios.post(
          "https://fathomless-spire-72356.herokuapp.com/api/messenger/getMessages",
          postData,
          config
        );

        this.messages = response.data.data;
        this.messages.reverse();
      } catch (e) {
        this.messages = [];
        this.flashMessage.show({
          status: "error",
          title: "Not authenticated.",
          message: "Redirecting you to Login Page.",
          position: "fixed"
        });
        setTimeout(() => {
          this.$router.push("/");
        }, 2000);
      }
    },

    async newMsg(msg) {
      let jwtToken = localStorage.getItem("userToken");
      let user = localStorage.getItem("userId");

      let config = {
        headers: {
          Authorization: "Bearer " + jwtToken,
          "Content-Type": "application/json"
        }
      };

      if (msg == "") {
        this.flashMessage.show({
          status: "info",
          title: "Please enter your message.",
          position: "fixed"
        });
        document.getElementById("message").focus();
        return true;
      }

      const postData = { userId: user, message: msg };

      try {
        const response = await axios.post(
          "https://fathomless-spire-72356.herokuapp.com/api/messenger/send",
          postData,
          config
        );

        this.messages.push(response.data.data);
        setTimeout(() => {
          window.scrollTo(0, document.body.scrollHeight);
          document.getElementById("message").focus();
        }, 100);

        alert(reponse.data);
      } catch (err) {
        this.errors.push(eerr);
        this.flashMessage.show({
          status: "error",
          title: err.response.data,
          position: "fixed"
        });
      }
    },

    beforeLeave(element) {
      this.prevHeight = getComputedStyle(element).height;
    },
    enter(element) {
      const { height } = getComputedStyle(element);

      element.style.height = this.prevHeight;

      setTimeout(() => {
        element.style.height = height;
      });
    },
    afterEnter(element) {
      element.style.height = "auto";
    }
  }
};
</script>

<style lang="scss">
@import "./src/style.scss";

body {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  font-family: Arial;
  color: $mainTextColor;
  padding: 52px 10px;
  overflow: hidden;
}
.wrapper {
  max-width: $pageMaxWidth;
  margin: 0 auto;
  padding: 5px;
}

.main {
  width: 96%;
  margin: 0 auto;
}

.footer {
  width: 96%;
  margin: 0 auto;
}

.links {
  text-align: center;
  width: 96%;
  margin: 0 auto;
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: height, opacity;
  transition-timing-function: ease;
  overflow: hidden;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}
</style>

