<template>
  <div class="msgItem">
    <div :class="(senderId == currentUser ? 'sender': 'receiver')">
      <div class="msg tooltip">
        {{ msg }}
        <!-- <span class="tooltiptext">{{ datetime }}</span> -->
        <div class="arrowDiv"></div>
      </div>

      <br />
      <div class="user">{{ (senderId == currentUser ? 'You': user) }}</div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    id: Number,
    senderId: Number,
    user: String,
    msg: String,
    datetime: String
  },
  data() {
    return {
      currentUser: +localStorage.getItem("userId")
    };
  }
};
</script>

<style lang="scss" scoped>
@import "./src/style.scss";

.msgItem {
  margin-bottom: 8px;
}

.sender {
  text-align: right;
}
.sender .msg {
  text-align: left;
}

.receiver {
  text-align: left;
}

.msgItem .msg {
  display: inline-block;
  max-width: 70%;
  padding: 8px;
  border-radius: 6px;
}

.msgItem .user {
  font-size: 12px;
}

.msg {
  position: relative;
}

.sender .msg {
  background-color: $msgColor2;
  color: white;
}

.receiver .msg {
  background-color: $msgColor;
  color: black;
}

.arrowDiv:before {
  content: " ";
  position: absolute;

  width: 8px;
  height: 8px;
  bottom: 8px;

  transform: rotate(45deg);
}
.sender .arrowDiv:before {
  background-color: $msgColor2;
  right: 6px;
  margin-right: -10px;
}

.receiver .arrowDiv:before {
  background-color: $msgColor;
  left: 6px;
  margin-left: -10px;
}
</style>