<template>
  <div class="sendMessageHolder">
    <div class="messageInput">
      <input
        class="msgInput"
        type="text"
        name="message"
        v-model="newMessage"
        v-on:keyup.enter="sendMessage"
        id="message"
        placeholder="Start a New Message"
      />
      <input class="send" type="button" value="Send" @click="sendMessage" />
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      newMessage: ""
    };
  },
  methods: {
    sendMessage() {
      this.$emit("messageAdded", this.newMessage);
      this.newMessage = "";
    }
  }
};
</script>

<style lang="scss" scoped>
@import "./src/style.scss";

.sendMessageHolder {
  position: fixed;
  height: 54px;
  bottom: 0px;
  background-color: white;
  z-index: 10;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.messageInput {
  position: relative;
  max-width: $pageMaxWidth;
  margin: 0 auto;
  display: flex;
  align-items: stretch;
  padding-top: 5px;
  border-top: 1px solid #cdd6dd;
  bottom: 0;
  width: 100%;
}

.messageInput input[type="text"] {
  flex-grow: 1;
  margin-right: 10px;
}

.send {
  border-radius: 5px;
  border: none;
}

input[type="text"] {
  background-color: $inputBgColor;
  height: 30px;
  font-size: 16px;
  margin-bottom: 20px;
  border: #cdd6dd;
  padding-left: 10px;
  border-radius: 5px;
  margin-left: 10px;
}

.send {
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
  background-color: $btnColor;
  color: white;
  padding: 4px 8px;
  height: 32px;
  cursor: pointer;
  width: 60px;
  flex: 0 0 60px;
  margin-right: 10px;
}
</style>